:root {
  --colorShadeA: rgb(29, 110, 230);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rs-button {
  padding: 1em 2em;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(29, 109, 230, 0.3);
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background-color: var(--colorShadeA);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.rs-button:hover {
  box-shadow: 0px 10px 20px rgba(29, 109, 230, 0.1);
}

